﻿<div ng-controller="Level2.LikesManagerController">
    
    <ul class="unstyled">
        <li ng-repeat="like in likes"><i class="icon icon-user"></i>
            <a href ng-click="delete(like)">{{like.member.name}} liked this comment {{like.CreateDate | date:'medium'}}</a>
        </li>
    </ul>
    
    <p>Total number of likes: {{model.value}}</p>

</div>