﻿@model PLY0012_Queensland.Bushfire.Models.ContactModel

@if (TempData["success"] == null) { 
    using (Html.BeginUmbracoForm("Submit", "Contact")) { 
        <div>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div>
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div>
            @Html.LabelFor(m => m.Message)
            @Html.TextBoxFor(m => m.Message)
            @Html.ValidationMessageFor(m => m.Message)
        </div> 
        <input type="submit" value="Submit" />
    }
}else {
    <p>We'll be in contact with you soon. Thanks.</p>
}