﻿@using PLY0012_Queensland.Bushfire.Controllers
@model PLY0012_Queensland.Bushfire.Models.RegisterModel

@using (Html.BeginUmbracoForm<RegisterController>("Register"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RegisterModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Biography)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Biography)
            @Html.ValidationMessageFor(model => model.Biography)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Avatar)
        </div>
        <div class="editor-field">
            <input type="file" name="Avatar"/>
            @Html.ValidationMessageFor(model => model.Avatar)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

