﻿@inherits UmbracoViewPage<PLY0012_Queensland.Bushfire.Models.SearchModel>

@*this is strongly typed*@
@*@model Umbraco.Course.Models.SearchModel*@

<p>You searched for <strong>@Model.Query</strong></p>

<!-- check for search results-->
@if(Model.SearchResults != null) { 
<!-- search results feedback -->
<p>
    <strong>@Model.SearchResults.Count() @(Model.SearchResults.Count() == 1 ? "result" : "results").</strong>
</p>
<div id="stream">
    <!-- show any search results here -->
    @foreach(var result in Model.SearchResults) {
        <div>
            <h4><a href="/stream#status@(result.Id)">@result.Name</a></h4><br />
            @(Umbraco.Field(result, "bodyText"))
        </div>
    }
</div>
}