﻿@using ClientDependency.Core.Mvc
@inherits UmbracoTemplatePage
@{
    Layout = null;
    
    Html.RequiresJs("~/scripts/jquery-1.11.0.min.js");
    Html.RequiresJs("~/scripts/bootstrap.min.js");
    Html.RequiresJs("~/scripts/level2.js");
        
    Html.RequiresCss("~/css/bootstrap.min.css");
    Html.RequiresCss("~/css/bootstrap-theme.min.css");
    Html.RequiresCss("~/css/level2.css");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model.Content.Name</title>

    @Html.RenderCssHere()

    <!--[if lt IE 9]>
      <script src="/scripts/html5shiv.min.js"></script>
      <script src="/scripts/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">@(Model.Content.GetPropertyValue<string>("SiteName", true))</a>
            </div>
            <div class="navbar-collapse collapse">
                
                @Html.CachedPartial("TopNavigationPartial", Model, 5, true) 
            
                <div class="col-xs-12 col-sm-4 col-md-4 navbar-right">
                    <form class="navbar-form" role="search" method="POST" action="/search">
                        <div class="input-group">
                            <label for="search-box" class="sr-only">Search Term:</label>
                            <input id="search-box" type="text" name="query" class="form-control" placeholder="Search" />
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                @{
                    Html.RenderPartial("~/Views/Partials/LoginStatusPartial.cshtml", Model);
                }
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-8 col-xs-12">
            @RenderBody()
        </div>
        <div class="col-md-4 col-xs-12">
            @Html.CachedPartial("WatercoolerGalleryPartial",Model,0,true)
        </div>
    </div>
      
    @Html.RenderJsHere()
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.js"></script>

</body>
</html>