﻿@using PLY0012_Queensland.Bushfire.Models
@inherits UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}
<div class="bodyText">
    @Html.Raw((Model.Content.GetPropertyValue<string>("BodyText")))
    @Html.Partial("RegisterPartial", new RegisterModel())
</div>

<!-- Render Registration form here -->