﻿@using PLY0012_Queensland.Bushfire.Models
@inherits UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}
<div class="jumbotron" id="statusForm">
    <div>Using RenderPartial:</div>
    @{ Html.RenderPartial("StatusUpdatePartial", new StatusUpdateModel()); }

    <div>Using Partial:</div>
    @Html.Partial("StatusUpdatePartial", new StatusUpdateModel());

    <div>Using Action (PartialViewResult):</div>
    @Html.Action("Render", "StatusUpdate");
</div>

<div>
    <!-- This would be a great place to put the ListStatus Updates Macro -->
	@Umbraco.RenderMacro("ListStatusUpdates", new {numberOfItems="[@numberOfItems]"})
</div>